.form {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-between-form-elements);
}

.formElement {
  display: grid;
  position: relative;
  /* margin: 0.5rem 0.5rem; */
}

.formLabel {
  font-size: 1.3rem;
}

@media (max-width: 1200px) {
  .form {
    display: grid;
  }
  .formElement {
    justify-content: stretch;
  }
}
