.container {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  gap: 0.5rem;
}

.pageItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

.active {
  background-color: var(--dark-color);
  color: var(--neutral-color);
}

.nextPrev {
  display: flex;
  align-items: center;
  justify-items: stretch;
  gap: 0.2rem;
  cursor: pointer;
}
