.textInput {
  border-radius: var(--border-radius-big);
  height: 3.4rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  border: solid 1px var(--neutral-color);
  font-family: var(--font-family);
  outline: none;
}
