@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

:root {
  --primary-color: #49cd5e;
  --secondary-color: #223cc7;
  --tertiary-color: #6581a3;
  --dark-color: #000000;
  --grey-color: #9c9c9c;
  --neutral-color: #e1e8ed;
  --exchange-color: #6368df;
  --live-price-color: #5dbe7e;
  /* --modal-background-color: rgba(red, green, blue, alpha) */
  --modal-background-color: rgba(0, 0, 0, 0.157);

  --border-radius-small: 0.3rem;
  --border-radius-big: 0.6rem;
  --responsive-margin: 5rem;
  --gap-between-form-elements: 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1;
  font-weight: 400;

  /*percentage of user's browser font size setting
  instead of 16px will use 10px equalent
  */

  /* font-size: 62.5%; */
  font-size: 10px;

  color: #555;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
