.desktop {
  display: grid;
  margin-top: 5rem;
  justify-content: start;
  font-size: 1.3rem;
  gap: 4rem;
}

.table {
  width: 800px;
  /* margin-top: 5rem; */
  border-collapse: collapse;
}

.td {
  text-align: left;
  padding: 1rem 0.5rem;
}

.td:first-child {
  border-radius: var(--border-radius-small);
}

.td:last-child {
  border-radius: var(--border-radius-small);
}

.sort {
  display: flex;
  align-items: center;
}

.th {
  background-color: #eeeeee;
  text-align: left;
  padding: 0.5rem 0.5rem;
}

.th:first-child {
  border-radius: var(--border-radius-small);
}

.th:last-child {
  border-radius: var(--border-radius-small);
}

.tr:nth-child(even) {
  background-color: #eeeeee;
}

.exchanged {
  font-weight: bold;
  color: var(--exchange-color);
}

.livePrice {
  font-weight: bold;
  color: var(--live-price-color);
}

.titleSmall {
  font-size: 2rem;
  font-weight: bold;
}

.mobile {
  display: none;
  align-content: start;
  margin-top: 5rem;
  gap: 2rem;
}

.box {
  display: grid;
  align-content: start;
  background-color: var(--neutral-color);
  border-radius: var(--border-radius-big);
  padding: 1.3rem 1rem;
  gap: 2rem;
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lower {
  display: flex;
  justify-items: start;
  align-items: center;
}

.transaction {
  font-weight: bold;
  font-size: 1.2rem;
}

.indicator {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.exchange {
  background-color: var(--exchange-color);
}

.live {
  background-color: var(--live-price-color);
}

@media (max-width: 1200px) {
  .mobile {
    display: grid;
  }
}

@media (max-width: 1200px) {
  .desktop {
    display: none;
  }
}
