.page {
  background-color: white;
  display: grid;
  /* grid-template-columns: 50rem; */
  grid-template-rows: 23.4rem 100%;
}

.toolbar {
  display: grid;
  /* grid-template-columns: 100rem; */
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  background-color: palegoldenrod;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.form {
  display: flex;
  align-items: flex-end;
}

.formLabel {
  font-size: 1.3rem;
  font-family: sans-serif;
}

.equal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.4rem;
  font-size: 1.3rem;
}

.button {
  background-color: #4caf50; /* Green */
  height: 3.4rem;
  min-width: 10rem;
  align-items: center;
  border-radius: 0.6rem;
  border: none;
  color: white;
}

.formElement {
  display: grid;
  position: relative;
  margin: 0.5rem 0.5rem;
}

.selectInput {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: start;
  justify-items: flex-start;
  min-width: 20rem;
  height: 3.4rem;
  border: solid 1px #bbb;
  border-radius: 0.6rem;
  background-color: white;
  cursor: pointer;
}
.textInput {
  border-radius: 0.6rem;
  height: 3.4rem;
  /* padding: 0.8rem 1rem; */
  padding-left: 1rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  border: solid 1px #bbb;
}

.selectList {
  display: grid;
  margin-top: 1rem;
  /* padding: 0.5rem; */
  position: absolute;
  top: 4rem;
  right: 0;
  min-width: 20rem;
  /* height: 40rem; */
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0rem 1rem 2.4rem;
  border-radius: 0.6rem;
}

.selectItem {
  display: flex;
  /* justify-content: flex-start; */
  justify-items: flex-start;
  align-items: center;
  font-size: 1.3rem;
  padding: 0.8rem 0.1rem;
  border-bottom: solid 1px #bbb;
}

.selectItem:last-child {
  border-bottom: 0;
}

.selectItem:hover {
  background-color: #ddd;
  cursor: pointer;
}

.main {
  background-color: white;
}
